/* .body
{
    background-color:#2A2C2F;
} */

.page
{
    min-width: 320px;
    max-width: 1280px;
    margin: auto;
    padding: 20px;
}

/* .header
{
    display:flex;
    justify-content: space-between;
}
 */
/* .header_logo
{
    background-image: url('../img/logo.svg');
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
} */

/* .header__lang
{
    color: white;
} */

/* .lead__image
{
    
} */

/* .lead__title,
.lead__subtitle,
.lead__caption
{
    color: #FFF;
    margin-block-start: 0em;
    margin-block-end: 0em;
} 



.lead__title
{

    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;

} 

 .lead__subtitle
{
    text-align: center;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    padding-top: 32px;
    padding-bottom: 64px;
} */

/* .intro
{
    width: 690px;
    margin: 92px auto 0px 148px;
} */
/* .intro__title
{
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    
} */

/* .intro__text
{
    color: #FFF;
    font-size: 16px;
    line-height: 163%;
} */

/* .intro__list
{
    list-style-type:none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
} */

/* .intro__list-item
{

    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
} */